<mapper namespace="User">

    <!--    表示查询单个-->
    <select id="selectOne" paramterType="com.udeam.pojo.User" resultType="com.udeam.pojo.User">
        select * from user where id = #{id} and name = #{name}
    </select>


    <select id="selectById" paramterType="Integer" resultType="com.udeam.pojo.User">
        select * from user where id = #{id}
    </select>


    <!--    表示查询多个-->
    <select id="selectList" resultType="com.udeam.pojo.User">
        select * from user
    </select>




    <delete id="delete" paramterType="com.udeam.pojo.User">
        delete  from user where id = #{id}
    </delete>


    <update id="update" paramterType="com.udeam.pojo.User">
        update  user set name=#{name} where id = #{id}
    </update>

    <update id="insert" paramterType="com.udeam.pojo.User">
        INSERT INTO user(name)
        VALUES (#{name})
    </update>

    <delete id="deleteById" paramterType="Integer">
        delete  from user where id = #{id}
    </delete>

    <delete id="deleteByName" paramterType="String">
        delete  from user where name = #{name}
    </delete>

</mapper>